@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="~/Content/CSS/EstilosRegistro.css" />
</head>
<body>

    <form class="formulario" action="@Url.Action("Registro","Inicio")" method="post">

        <h1>Registrate</h1>
        <div class="contenedor">

            <div class="mb-3">
                <select id="idTipoIdentificacion" class="select-css" name="idTipoIdentificacion">
                    <option value="1">Cédula de Ciudadanía</option>
                    <option value="2">Cédula de Extranjería</option>
                    <option value="3">Pasaporte</option>
                </select>
            </div>

            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="number" placeholder="Número de documento" class="form-control" name="noDocumento" value="@(ViewBag.Documento !=null ? ViewBag.Documento : "")" required />

            </div>

            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" placeholder="Nombres" class="form-control" name="Nombres" value="@(ViewBag.Nombres !=null ? ViewBag.Nombres : "")" required />

            </div>

            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" placeholder="Apellidos" class="form-control" name="Apellidos" value="@(ViewBag.Apellidos !=null ? ViewBag.Apellidos : "")" />

            </div>

            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="number" placeholder="Teléfono" class="form-control" name="Telefono" value="@(ViewBag.Telefono !=null ? ViewBag.Telefono : "")" />


            </div>

            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="email" placeholder="Correo Electronico" class="form-control" name="Email" value="@(ViewBag.Email !=null ? ViewBag.Email : "")" required />

            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Contraseña" class="form-control" name="Contraseña" required />

            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Confirmar Contraseña" class="form-control" name="Confirmar_contraseña" required />

            </div>

            @if (ViewBag.Mensaje != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Mensaje
                </div>
            }

            <input type="submit" value="Registrate" class="button">
            <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
            <p>¿Ya tienes una cuenta?<a class="link" href="@Url.Action("Login","Inicio")">Iniciar Sesion</a></p>
            <p>Volver al Inicio <a class="link" href="@Url.Action("Index","Home")">Haz clic aquí </a></p>

        </div>
        @Scripts.Render("~/bundles/bootstrap")
    </form>
</body>
</html>